
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    box-shadow: 0px 3px 15px 0px rgba(163, 163, 163, 0.5);
}

.header__logo {
    color: #000;
    padding: 5px;
    text-shadow: 1px 2px 3px #808080;
}

.header__inner {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1230px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__title {
    font-weight: normal;
    font-size: 16px;
}

.header__title span {
    padding-left: 20px;
    display: block;
}

.header__logo {
    height: 50px;
}

.navi {
    list-style: none;
    display: flex;
    /* display: none; */
}

.navi__link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    width: 180px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    line-height: 40px;
}

.navi__link:hover {
    color: #fff;
    background-color: darkgray;
}

.navi__list {
    margin-right: 5px;
}

.navi__list:last-child {
    margin-right: 0px;
}

/* .navi__btn {
    display: none;
} */

.hamburger {
    display: none;
}

main {
    height: calc(100vh - 60px);
    background-image: url(../img/bg-image.gif);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: right bottom;
    max-width: 1230px;
    min-height: 720px;
    margin: 0 auto;
}

.learn__menu {
    padding: 50px;
    list-style: none;
}

.learn__list {
    padding: 20px;
}

.learn__btn {
    text-align: center;
    width: 200px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    line-height: 60px;
    border-radius: 10px;
    box-shadow: 6px 1px 2px 1px rgba(163, 163, 163, 0.5);
}

.footer {
    height: 180px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 180px;
}


/* 以下あとで削除 */
/* .header {
    background-color: red;
}

.header__inner {
    background-color: black;
}

.header__logo {
    background-color: #808080;
}

nav {
    background-color: #fff;
}

.menu__btn {
    background-color: aqua;
}

main {
    background-color: brown;
} */


.hamburger__btn {
    /* position: fixed; */
    /* top: 10px; */
    /* right: 10px; */
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000;
}

.hamburger__btn span,
.hamburger__btn span:before,
.hamburger__btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.hamburger__btn span:before {
    bottom: 8px;
}
.hamburger__btn span:after {
    top: 8px;
}

#hamburger__btn-check:checked ~ .hamburger__btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#hamburger__btn-check:checked ~ .hamburger__btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#hamburger__btn-check:checked ~ .hamburger__btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#hamburger__btn-check {
    display: none;
}